* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000000;
    color: #F6F6F6;
}

.apresentacao {
    display: flex;
    align-items: center;
}

.titulo-destaque {
    color: #22D4fD;
}